<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no" />
  <title>Bem-vindo(a) ao Ferrugem Games</title>
  <link rel="stylesheet" href="static/assets/bootstrap/css/bootstrap.min.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
  <link rel="stylesheet" href="static/assets/css/styles.min.css" />
  <link rel="icon" type="image/x-icon" href="static/assets/img/favicon.ico">
</head>

<body id="page-top" data-bs-spy="scroll" data-bs-target="#mainNav" data-bs-offset="72">


  <!-- NAVBAR -->
  <nav class="navbar navbar-light navbar-expand-lg fixed-top bg-secondary text-uppercase" id="mainNav">
    <div class="container">
      <button data-bs-toggle="collapse" data-bs-target="#navbarResponsive"
        class="navbar-toggler text-white bg-primary navbar-toggler-right text-uppercase rounded"
        aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <i class="fa fa-bars"></i>
      </button>
      <img src="static/assets/img/ferruege%20games.png" width="110" height="53" />
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ms-auto">
          <li class="nav-item mx-0 mx-lg-1">
            <a class="nav-link py-3 px-0 px-lg-3 rounded" href="#">Loja</a>
          </li>
          <li class="nav-item mx-0 mx-lg-1">
            <a class="nav-link py-3 px-0 px-lg-3 rounded" href="#games">Games</a>
          </li>
          <li class="nav-item mx-0 mx-lg-1">
            <a class="nav-link py-3 px-0 px-lg-3 rounded" href="#sobre">Sobre</a>
          </li>
          <li class="nav-item mx-0 mx-lg-1">
            <a class="nav-link py-3 px-0 px-lg-3 rounded" href="#suporte">Suporte</a>
          </li>
        </ul>
        <button class="btn-navbar"><span>Carrinho</span> </button>
      </div>
    </div>
  </nav>

  <!-- COMEÇO  -->
  <header class="text-center text-white bg-primary masthead" style="
        background: linear-gradient(#364a63 52%, #8ca3c0 83%), var(--bs-danger);
      ">
    <img src="static/assets/img/ferrugeGamesEscrito.png" />
    <br>
  

    <!-- CARROSEL -->
    <div id="carousel-1" class="carousel slide" data-bs-ride="false">
      <div class="carousel-inner">
        <div class="carousel-item active">
          
          <!-- GRUPO DE CARD 1 -->
          <div class="card-group" style="margin: 0rem;padding: 10rem;">

            <!-- CARD 1 DO GRUPO 1 -->
            <div class="card" style="margin: 2rem; background: var(--bs-blue);">
              <img class="card-img-top w-100 d-block" />
              <div class="card-body">
                <h4 class="card-title">God of War Ragnarok</h4>
                <br>
                <br>
                <img src="static/assets/img/game1.jpg" class="img-thumbnail" alt="God-Ragnarok-Card"/>
                <br>
                <br>
                <p class="card-text" style="
                color: rgb(255, 255, 255);
              ">It will be the ninth installment in the God of War
              series, the ninth chronologically, and the sequel to
              2018's God of War.</p>
              <button class="card-btn" type="button">
                <span>Comprar</span>
                <div class="top"></div>
                <div class="left"></div>
                <div class="bottom"></div>
                <div class="right"></div>
              </button>
              </div>
            </div>

            <!-- CARD 2 DO GRUPO 1 -->
            <div class="card" style="margin: 2rem; background: var(--bs-blue);">
              <img class="card-img-top w-100 d-block" />
              <div class="card-body">
                <h4 class="card-title">Day Z</h4>
                <br>
                <br>
                <img src="static/assets/img/dayz.jpg" class="img-thumbnail" alt="God-Ragnarok-Card"/>
                <br>
                <br>
                <p class="card-text" style="
                color: rgb(255, 255, 255);
              ">It will be the ninth installment in the God of War
              series, the ninth chronologically, and the sequel to
              2018's God of War.</p>
              <button class="card-btn" type="button">
                <span>Comprar</span>
                <div class="top"></div>
                <div class="left"></div>
                <div class="bottom"></div>
                <div class="right"></div>
              </button>
              </div>
            </div>

            <!-- CARD 3 DO GRUPO 1 -->
            <div class="card" style="margin: 2rem; background: var(--bs-blue);">
              <img class="card-img-top w-100 d-block" />
              <div class="card-body">
                <h4 class="card-title">Cyber Punk 2077</h4>
                <br>
                <br>
                <img src="static/assets/img/cyber2077.jpg" class="img-thumbnail" alt="God-Ragnarok-Card"/>
                <br>
                <br>
                <p class="card-text" style="
                color: rgb(255, 255, 255);
              ">It will be the ninth installment in the God of War
              series, the ninth chronologically, and the sequel to
              2018's God of War.</p>
              <button class="card-btn" type="button">
                <span>Comprar</span>
                <div class="top"></div>
                <div class="left"></div>
                <div class="bottom"></div>
                <div class="right"></div>
              </button>
              </div>
            </div>
          </div>
        </div>

        <!-- CARROSEL GRUPO 2 -->
        <div class="carousel-item">

          <!-- GRUPO DE CARD 2 -->
          <div class="card-group" style="margin: 0rem;padding: 10rem;">

            <!-- CARD 1 DO GRUPO 2 -->
            <div class="card" style="margin: 2rem; background: var(--bs-blue);">
              <img class="card-img-top w-100 d-block" />
              <div class="card-body">
                <h4 class="card-title">Days Gone</h4>
                <br>
                <br>
                <img src="static/assets/img/daysgone.jpg" class="img-thumbnail" alt="God-Ragnarok-Card"/>
                <br>
                <br>
                <p class="card-text" style="
                color: rgb(255, 255, 255);
              ">It will be the ninth installment in the God of War
              series, the ninth chronologically, and the sequel to
              2018's God of War.</p>
              <button class="card-btn" type="button">
                <span>Comprar</span>
                <div class="top"></div>
                <div class="left"></div>
                <div class="bottom"></div>
                <div class="right"></div>
              </button>
              </div>
            </div>

            <!-- CARD 2 DO GRUPO 2 -->
            <div class="card" style="margin: 2rem; background: var(--bs-blue);">
              <img class="card-img-top w-100 d-block" />
              <div class="card-body">
                <h4 class="card-title">Fifa 23</h4>
                <br>
                <br>
                <img src="static/assets/img/fifa23.jpg" class="img-thumbnail" alt="God-Ragnarok-Card"/>
                <br>
                <br>
                <p class="card-text" style="
                color: rgb(255, 255, 255);
              ">EA SPORTS™ FIFA 23 traz o jogo de todo mundo aos gramados com a tecnologia HyperMotion2 proporcionando jogabilidade com ainda mais realismo, a FIFA World Cup™ masculina e feminina que chegarão ao jogo em atualizações pós-lançamento, a inclusão de clubes femininos, recursos de crossplay* e muito mais. Sinta a autenticidade inigualável com mais de 19.000 atletas, mais de 700 clubes, 100 estádios e mais de 30 ligas no FIFA 23.

</p>
              <button class="card-btn" type="button">
                <span>Comprar</span>
                <div class="top"></div>
                <div class="left"></div>
                <div class="bottom"></div>
                <div class="right"></div>
              </button>
              </div>
            </div>

            <!-- CARD 3 DO GRUPO 2 -->
            <div class="card" style="margin: 2rem; background: var(--bs-blue);">
              <img class="card-img-top w-100 d-block" />
              <div class="card-body">
                <h4 class="card-title">Devil May Cry 5</h4>
                <br>
                <br>
                <img src="static/assets/img/devilmaycry5.jpg" class="img-thumbnail" alt="God-Ragnarok-Card"/>
                <br>
                <br>
                <p class="card-text" style="
                color: rgb(255, 255, 255);
              ">It will be the ninth installment in the God of War
              series, the ninth chronologically, and the sequel to
              2018's God of War.</p>
              <button class="card-btn" type="button">
                <span>Comprar</span>
                <div class="top"></div>
                <div class="left"></div>
                <div class="bottom"></div>
                <div class="right"></div>
              </button>
              </div>
            </div>
          </div>
        </div>

        <!-- CARROSEL GRUPO 3 --> 
        <div class="carousel-item">

          <!-- GRUPO DE CARD 3 -->
          <div class="card-group" style="margin: 0rem;padding: 10rem;">

            <!-- CARD 1 DO GRUPO 3 -->
            <div class="card" style="margin: 2rem; background: var(--bs-blue);">
              <img class="card-img-top w-100 d-block" />
              <div class="card-body">
                <h4 class="card-title">Mortal kombat 11</h4>
                <br>
                <br>
                <img src="static/assets/img/mk11.jpg" class="img-thumbnail" alt="God-Ragnarok-Card"/>
                <br>
                <br>
                <p class="card-text" style="
                color: rgb(255, 255, 255);
              ">It will be the ninth installment in the God of War
              series, the ninth chronologically, and the sequel to
              2018's God of War.</p>
              <button class="card-btn" type="button">
                <span>Comprar</span>
                <div class="top"></div>
                <div class="left"></div>
                <div class="bottom"></div>
                <div class="right"></div>
              </button>
              </div>
            </div>

            <!-- CARD 2 DO GRUPO 3 -->
            <div class="card" style="margin: 2rem; background: var(--bs-blue);">
              <img class="card-img-top w-100 d-block" />
              <div class="card-body">
                <h4 class="card-title">God of War Ragnarok</h4>
                <br>
                <br>
                <img src="static/assets/img/game1.jpg" class="img-thumbnail" alt="God-Ragnarok-Card"/>
                <br>
                <br>
                <p class="card-text" style="
                color: rgb(255, 255, 255);
              ">It will be the ninth installment in the God of War
              series, the ninth chronologically, and the sequel to
              2018's God of War.</p>
              <button class="card-btn" type="button">
                <span>Comprar</span>
                <div class="top"></div>
                <div class="left"></div>
                <div class="bottom"></div>
                <div class="right"></div>
              </button>
              </div>
            </div>

            <!-- CARD 3 DO GRUPO 3 -->
            <div class="card" style="margin: 2rem; background: var(--bs-blue);">
              <img class="card-img-top w-100 d-block" />
              <div class="card-body">
                <h4 class="card-title">God of War Ragnarok</h4>
                <br>
                <br>
                <img src="static/assets/img/game1.jpg" class="img-thumbnail" alt="God-Ragnarok-Card"/>
                <br>
                <br>
                <p class="card-text" style="
                color: rgb(255, 255, 255);
              ">It will be the ninth installment in the God of War
              series, the ninth chronologically, and the sequel to
              2018's God of War.</p>
              <button class="card-btn" type="button">
                <span>Comprar</span>
                <div class="top"></div>
                <div class="left"></div>
                <div class="bottom"></div>
                <div class="right"></div>
              </button>
              </div>
            </div>
          </div>
        </div>
      </div> 
    -->


      <!-- CONTROLE DO CARROSEL -->
      <div>
        <!-- PARA TRAS  -->
        <a class="carousel-control-prev" href="#carousel-1" role="button" data-bs-slide="prev"></a>
        <!-- PARA FRENTE  -->
        <a class="carousel-control-next" href="#carousel-1" role="button" data-bs-slide="next"></a>
        </div>
    </div>
</body>
</header>
<section id="games" class="portfolio">
  <div class="container">
    <h2 class="text-uppercase text-center text-secondary">Games</h2>
    <hr class="style-seven" />
    <div class="row">
      <div class="col-md-6 col-lg-4">
        <a class="d-block mx-auto portfolio-item" href="#portfolio-modal-1" data-bs-toggle="modal">
          <div class="d-flex portfolio-item-caption position-absolute h-100 w-100">
            <div class="text-center text-white my-auto portfolio-item-caption-content w-100">
              <i class="fa fa-search-plus fa-3x"></i>
            </div>
          </div>
          <img class="img-fluid" src="static/assets/img/dayz.jpg" />
        </a>
      </div>
      <div class="col-md-6 col-lg-4">
        <a class="d-block mx-auto portfolio-item" href="#portfolio-modal-2" data-bs-toggle="modal">
          <div class="d-flex portfolio-item-caption position-absolute h-100 w-100">
            <div class="text-center text-white my-auto portfolio-item-caption-content w-100">
              <i class="fa fa-search-plus fa-3x"></i>
            </div>
          </div>
          <img class="img-fluid" src="static/assets/img/devilmaycry5.jpg" />
        </a>
      </div>
      <div class="col-md-6 col-lg-4">
        <a class="d-block mx-auto portfolio-item" href="#portfolio-modal-3" data-bs-toggle="modal">
          <div class="d-flex portfolio-item-caption position-absolute h-100 w-100">
            <div class="text-center text-white my-auto portfolio-item-caption-content w-100">
              <i class="fa fa-search-plus fa-3x"></i>
            </div>
          </div>
          <img class="img-fluid" src="static/assets/img/gta5.jpg" />
        </a>
      </div>
      <div class="col-md-6 col-lg-4">
        <a class="d-block mx-auto portfolio-item" href="#portfolio-modal-4" data-bs-toggle="modal">
          <div class="d-flex portfolio-item-caption position-absolute h-100 w-100">
            <div class="text-center text-white my-auto portfolio-item-caption-content w-100">
              <i class="fa fa-search-plus fa-3x"></i>
            </div>
          </div>
          <img class="img-fluid" src="static/assets/img/cyber2077.jpg" />
        </a>
      </div>
      <div class="col-md-6 col-lg-4">
        <a class="d-block mx-auto portfolio-item" href="#portfolio-modal-5" data-bs-toggle="modal">
          <div class="d-flex portfolio-item-caption position-absolute h-100 w-100">
            <div class="text-center text-white my-auto portfolio-item-caption-content w-100">
              <i class="fa fa-search-plus fa-3x"></i>
            </div>
          </div>
          <img class="img-fluid" src="static/assets/img/fifa23.jpg" />
        </a>
      </div>
      <div class="col-md-6 col-lg-4">
        <a class="d-block mx-auto portfolio-item" href="#portfolio-modal-6" data-bs-toggle="modal">
          <div class="d-flex portfolio-item-caption position-absolute h-100 w-100">
            <div class="text-center text-white my-auto portfolio-item-caption-content w-100">
              <i class="fa fa-search-plus fa-3x"></i>
            </div>
          </div>
          <img class="img-fluid" src="static/assets/img/daysgone.jpg" />
        </a>
      </div>
    </div>
  </div>
</section>
<section class="text-white bg-primary mb-0" id="sobre">
  <div class="container">
    <h2 class="text-uppercase text-center text-white">Sobre</h2>
    <hr class="style-seven" />
    <div class="row">
      <div class="col-lg-4 ms-auto">
        <p class="lead">
          A Ferrugem Games é uma idéia de loja virtual. Tendo como
          inspiração as grandes lojas onlines hoje já disponíveis, como
          Steam, Green Man Gaming e GOG.com.
        </p>
      </div>
      <div class="col-lg-4 me-auto">
        <p class="lead">
          Esse é um projeto em grupo da Universidade Anhembi Morumbi,
          matéria disciplinar Usabilidade, Desenvolvimento e Web. A ideia é
          fazermos uma página Web responsiva utilizando HTML, CSS e
          Javascript.
        </p>
      </div>
    </div>
  </div>
</section>
<section id="suporte">
  <div class="container">
    <h2 class="text-uppercase text-center text-secondary mb-0">
      Entre em contato
    </h2>
    <hr class="style-seven" />
    <div class="row">
      <div class="col-lg-8 mx-auto">
        <form id="contactForm" name="sentMessage" novalidate="novalidate">
          <div class="control-group">
            <div class="mb-0 form-floating controls pb-2">
              <input class="form-control" type="text" id="name" required="" placeholder="Name" /><label
                class="form-label">Nome</label><small class="form-text text-danger help-block"></small>
            </div>
          </div>
          <div class="control-group">
            <div class="mb-0 form-floating controls pb-2">
              <input class="form-control" type="email" id="email" required="" placeholder="Email Address" /><label
                class="form-label">Email </label><small class="form-text text-danger help-block"></small>
            </div>
          </div>
          <div class="control-group">
            <div class="mb-0 form-floating controls pb-2">
              <input class="form-control" type="tel" id="phone" required="" placeholder="Phone Number" /><label
                class="form-label">Número de telefone</label><small class="form-text text-danger help-block"></small>
            </div>
          </div>
          <div class="control-group">
            <div class="mb-5 form-floating controls pb-2">
              <textarea class="form-control" id="message" required="" placeholder="Message"
                style="height: 150px"></textarea><label class="form-label">Mensagem</label><small
                class="form-text text-danger help-block"></small>
            </div>
          </div>
          <div id="success"></div>
          <button>
            <div class="svg-wrapper-1">
              <div class="svg-wrapper">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24">
                  <path fill="none" d="M0 0h24v24H0z"></path>
                  <path fill="currentColor"
                    d="M1.946 9.315c-.522-.174-.527-.455.01-.634l19.087-6.362c.529-.176.832.12.684.638l-5.454 19.086c-.15.529-.455.547-.679.045L12 14l6-8-8 6-8.054-2.685z">
                  </path>
                </svg>
              </div>
            </div>
            <span>Enviar</span>
          </button>
        </form>
      </div>
    </div>
  </div>
</section>
<footer class="text-center footer">
  <div class="container">
    <div class="row">
      <div class="col-md-4 mb-5 mb-lg-0">
        <h4 class="text-uppercase mb-4">Localidade</h4>
        <p>Av. Paulista, 2000 - Bela Vista, São Paulo - SP</p>
      </div>
      <div class="col-md-4 mb-5 mb-lg-0">
        <h4 class="text-uppercase">Mídias Sociais</h4>
        <ul class="list-inline">
          <li class="list-inline-item">
            <a class="btn btn-outline-light text-center btn-social rounded-circle" role="button" href="#"><i
                class="fa fa-facebook fa-fw"></i></a>
          </li>
          <li class="list-inline-item">
            <a class="btn btn-outline-light text-center btn-social rounded-circle" role="button" href="#"><i
                class="fa fa-google-plus fa-fw"></i></a>
          </li>
          <li class="list-inline-item">
            <a class="btn btn-outline-light text-center btn-social rounded-circle" role="button" href="#"><i
                class="fa fa-twitter fa-fw"></i></a>
          </li>
          <li class="list-inline-item">
            <a class="btn btn-outline-light text-center btn-social rounded-circle" role="button" href="#"><i
                class="fa fa-dribbble fa-fw"></i></a>
          </li>
        </ul>
      </div>
      <div class="col-md-4">
        <h4 class="text-uppercase mb-4">Sobre Ferrugem Games</h4>
        <p class="lead mb-0">
          <span>Loja inspirada nas grandes lojas onlines hoje já disponíveis,
            como Steam, Green Man Gaming e GOG.com. &nbsp;</span>
        </p>
      </div>
    </div>
  </div>
</footer>
<div class="text-center text-white copyright py-4">
  <div class="container">
    <small>Copyright ©&nbsp;Ferrugem Games 2022</small>
  </div>
</div>
<div class="d-lg-none scroll-to-top position-fixed rounded">
  <a class="text-center d-block rounded text-white" href="#page-top"><i class="fa fa-chevron-up"></i></a>
</div>
<div class="modal text-center" role="dialog" tabindex="-1" id="portfolio-modal-1">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="container text-center">
          <div class="row">
            <div class="col-lg-8 mx-auto">
              <h2 class="text-uppercase text-secondary mb-0">DayZ</h2>
              <hr class="style-seven" />
              <img class="img-fluid mb-5" src="static/assets/img/dayz_sobre.jpg" />
              <p class="mb-5">
                Quanto você aguenta em um mundo pós-apocalíptico? Uma terra
                arrasada por "zumbis" infectados, onde você compete com
                outros sobreviventes por recursos limitados. Você vai ajudar
                estranhos em sua luta? Ou evitará traições como um lobo
                solitário? Esse é o DayZ. Essa é a sua história.
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer pb-5">
        <a class="btn btn-primary btn-lg mx-auto rounded-pill portfolio-modal-dismiss" role="button"
          data-bs-dismiss="modal"><i class="fa fa-close"></i>&nbsp;Fechar</a>
      </div>
    </div>
  </div>
</div>
<div class="modal text-center" role="dialog" tabindex="-1" id="portfolio-modal-2">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="container text-center">
          <div class="row">
            <div class="col-lg-8 mx-auto">
              <h2 class="text-uppercase text-secondary mb-0">
                Devil May Cry 5
              </h2>
              <hr class="style-seven" />
              <img class="img-fluid mb-5" src="static/assets/img/devilmaycry5_sobre.jpg" />
              <p class="mb-5">
                Um novo episódio na lendária série de ação, Devil May Cry 5
                traz junto sua clássica mistura de ação turbinada com
                personagens originais de outro mundo e a mais nova
                tecnologia de jogos Capcom para trazer uma obra de arte de
                ação e aventura visualmente inovadora.
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer pb-5">
        <a class="btn btn-primary btn-lg mx-auto rounded-pill portfolio-modal-dismiss" role="button"
          data-bs-dismiss="modal"><i class="fa fa-close"></i>&nbsp;Fechar</a>
      </div>
    </div>
  </div>
</div>
<div class="modal text-center" role="dialog" tabindex="-1" id="portfolio-modal-3">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="container text-center">
          <div class="row">
            <div class="col-lg-8 mx-auto">
              <h2 class="text-uppercase text-secondary mb-0">
                Grand Theft Auto V: Edição Premium
              </h2>
              <hr class="style-seven" />
              <img class="img-fluid mb-5" src="static/assets/img/gta5_sobre.jpg" />
              <p class="mb-5">
                Quando um malandro de rua, um ladrão de bancos aposentado e
                um psicopata aterrorizante se envolvem com alguns dos
                criminosos mais assustadores e loucos do submundo, o governo
                dos EUA e a indústria do entretenimento, eles devem realizar
                golpes ousados para sobreviver nessa cidade implacável onde
                não podem confiar em ninguém, nem mesmo um no outro.
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer pb-5">
        <a class="btn btn-primary btn-lg mx-auto rounded-pill portfolio-modal-dismiss" role="button"
          data-bs-dismiss="modal"><i class="fa fa-close"></i>&nbsp;Fechar</a>
      </div>
    </div>
  </div>
</div>
<div class="modal text-center" role="dialog" tabindex="-1" id="portfolio-modal-4">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="container text-center">
          <div class="row">
            <div class="col-lg-8 mx-auto">
              <h2 class="text-uppercase text-secondary mb-0">
                Cyberpunk 2077
              </h2>
              <hr class="style-seven" />
              <img class="img-fluid mb-5" src="static/assets/img/cyber2077_sobre.jpg" />
              <p class="mb-5">
                Cyberpunk 2077 é um RPG de ação e aventura em mundo aberto
                que se passa em Night City, uma megalópole perigosa onde
                todos são obcecados por poder, glamour e alterações
                corporais.
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer pb-5">
        <a class="btn btn-primary btn-lg mx-auto rounded-pill portfolio-modal-dismiss" role="button"
          data-bs-dismiss="modal"><i class="fa fa-close"></i>&nbsp;Fechar</a>
      </div>
    </div>
  </div>
</div>
<div class="modal text-center" role="dialog" tabindex="-1" id="portfolio-modal-5">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="container text-center">
          <div class="row">
            <div class="col-lg-8 mx-auto">
              <h2 class="text-uppercase text-secondary mb-0">
                EA SPORTS™ FIFA 23
              </h2>
              <hr class="style-seven" />
              <img class="img-fluid mb-5" src="static/assets/img/fifa23sobre.jpg" />
              <p class="mb-5">
                EA SPORTS™ FIFA 23 traz o jogo de todo mundo aos gramados
                com a tecnologia HyperMotion2 proporcionando jogabilidade
                com ainda mais realismo, a FIFA World Cup™ masculina e
                feminina que chegarão ao jogo em atualizações
                pós-lançamento, a inclusão de clubes femininos, recursos de
                crossplay* e muito mais. Sinta a autenticidade inigualável
                com mais de 19.000 atletas, mais de 700 clubes, 100 estádios
                e mais de 30 ligas no FIFA 23.
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer pb-5">
        <a class="btn btn-primary btn-lg mx-auto rounded-pill portfolio-modal-dismiss" role="button"
          data-bs-dismiss="modal"><i class="fa fa-close"></i>&nbsp;Fechar</a>
      </div>
    </div>
  </div>
</div>
<div class="modal text-center" role="dialog" tabindex="-1" id="portfolio-modal-6">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="container text-center">
          <div class="row">
            <div class="col-lg-8 mx-auto">
              <h2 class="text-uppercase text-secondary mb-0">Days Gone</h2>
              <hr class="style-seven" />
              <img class="img-fluid mb-5" src="static/assets/img/daysgone_sobre.jpg" />
              <p class="mb-5">
                Viaje e lute pelos Estados Unidos num cenário pós-pandêmico
                e mortífero. Jogue com Deacon St. John, um andarilho e
                caçador de recompensas que segue um caminho tortuoso,
                lutando para sobreviver ao mesmo tempo em que busca uma
                razão para viver neste jogo de aventura e ação em mundo
                aberto.
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer pb-5">
        <a class="btn btn-primary btn-lg mx-auto rounded-pill portfolio-modal-dismiss" role="button"
          data-bs-dismiss="modal"><i class="fa fa-close"></i>&nbsp;Fechar</a>
      </div>
    </div>
  </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"></script>
<script src="static/assets/js/script.min.js"></script>
</body>

</html>